body {
  font-family: 'Playfair Display';
  background-color: #f8f7f6;
  color: #5e5f5e;
  font-size: 1em;
  line-height: 1.5em;
}

.Navigation {
  position: sticky;
  height: 0;
  top: 0;
}

.Navigation__circle {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #5e5f5e;
  margin: 8px;
  background-image: url("./menu-24px.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.Navigation__item {
  color:  #5e5f5e;
  background-color: transparent;
  border: none;
  margin: .5em 0;
}

.Navigation__item:focus-within,
.Navigation__item:hover {
  background-color: #ededed;
}

.Navigation__menu {
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 52px;
  left: 8px;
  text-align: left;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 3px;
  height: 0;
  overflow: hidden;
}

.Navigation__menu:focus-within {
  opacity: 1;
  height: fit-content;
}

.Main {}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #F3EAE3; */
  padding: 4em;
  text-align: center;
}

.Header {
  font-family: 'Playfair Display';
  font-size: 3em;
  margin-bottom: .5em;
  line-height: 1em;
  text-align: center;
}

.Header__large {
  font-size: 3em;
  font-family: 'Tangerine';
  margin-bottom: .4em;
  line-height: 1em;
}

.Header__medium {
  font-size: 2em;
  font-family: 'Tangerine';
  margin-bottom: .2em;
  line-height: 1em;
}

.Subheader {
  font-weight: 200;
  font-size: 1.5em;
  margin-bottom: .5em;
  line-height: 1em;
  text-align: center;
}

.Footer {
  height: 2em;
}


.Divider {
  border-bottom: 2px solid #ededed;
  margin: 1em 20%;
}

.Section {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PartySection {
  margin: 1em 0;
  text-align: center;
}

.Ceremony {
  margin: 1em 0;
  text-align: center;
}

.Hotels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.Tile {
  padding: 2em;
  border-radius: 3px;
  border: 1px solid #ededed;
  background-color: #fff;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Hotels a:hover, .Hotels a:focus-within {
  box-shadow: .1em .1em .1em #ededed;
}

a {
  text-decoration: none;
  color: #5e5f5e;
}

.Recommendations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

@media(max-width: 667px) {
  .Hotels {
    grid-template-columns: 1fr;
  }
  .Recommendations {
    grid-template-columns: 1fr;
  }
}

.Scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}